.navbar{
    height: 7%;
    width: 100%;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
   -o-background-size: cover;
  }
  
  .navbar-brand{
    margin-left: 30px;
  }